
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.light, .app-container.light {
  background-color: #ffffff; 
}

body.dark, .app-container.dark {
  background-color: #121212;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.board {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.navBar h1{
  padding:8px;
}
