.background {
  position: relative;
  background:
  linear-gradient(rgba(136, 191, 235, 0.321), rgba(126, 153, 194, 0.534)),url("../../assets/backgroundpic.jpg");
    background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
    display: flex;
  flex-direction: column;   
  gap: 1.5rem; 
  justify-content: center;
  align-items: center;
  color: white;
}

.background::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(50, 150, 200, 0.3); /* subtle blue/green tint */
  z-index: 1;
}

.background > div {
  position: relative;
  z-index: 2; 
  text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.logBtn{
  padding: 10px 40px;
  background:linear-gradient(to bottom, #4CAF50,#2e7d32);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px #2e7d32; 
  transition: all 0.2s ease;

}
.logBtn:hover {
  background:linear-gradient(to bottom, #6aca6f, #27672a);
}

.registerBtn{
  padding: 10px 40px;
  background: linear-gradient(to bottom, #2E6FBE, #1d4e8a);;
    font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px #1d4e8a; 
  transition: all 0.2s ease;
}
.registerBtn:hover {
   background: linear-gradient(to bottom, #3b85e0, #265a9b);
}

